/** Volgende CSS gaan we ze geven **/
.respimg {
    width: 100%;
    height: auto;
    display: block;
}

body {
    font-family: Helvetica, serif;
    width: 100%;
}

h1{
    text-transform: uppercase;
    font-size: 2.5em;
    color: black;
}

.hr{
    border: 2px solid black;
}

.header{
    text-align: center;
    width: 100%;
}
.header img{
    height: 50px;

}

.header hr{
    border: 1px solid #ebe8e8;
}

.nav ul{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: 50px;
    justify-content: center;
    justify-items: center;
    list-style-type: none;
    padding: 10px;

}
.nav ul li{
    color: gray;
    width: 90%;
    text-align: center;
    line-height: 50px;
    border-right: 1px solid #ebe8e8;
}

.nav ul li a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    color: #5b4746;

}

.nav ul li a:hover{
    text-decoration: underline 2px;
    color: #fff100;
    font-size: 13px;
}

.nav ul li hr{
    border-left: 1px solid #ebe8e8;
}

.main_header img{
    height: 500px;
    width: 100%;
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -200%);
    font-size: 40px;
    text-shadow: 2px 2px 2px #8D99AE;

}

.main_header{
    width: 100%;
    text-align: center;
    color: white;
}

.main_header hr{
    border: 1px solid #ebe8e8;
}

.recipes{
    margin: 50px;
}

.item_small_title{
    text-transform: uppercase;
    font-size: 1.2em;
    letter-spacing: 1px;
    color: #ff4d56;
}
.item_title a{
    text-decoration: none;
    color: black;
}

.item_body{
    color: #666;
    line-height: 2em;
}

.auteur{
    padding-right: 10px;
    font-style: italic;
    border-right: 1px solid #ebe8e8;
}

.timestamp{
    color: #666;
    padding-left: 10px;
}

.auteur_datum{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 300px;
}

.recipe_1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.recommended {
    margin-top: 50px;

}

.recommended img {
    padding-bottom: 25px;
}

.recipe_text {
    padding-right: 10px;
}

.centeren {
    padding-right: 400px;
    padding-left: 400px;
}

footer{
    width: 100%;
    line-height: 2em;

}
#left{
    width: 50%;
    float: left;
    text-align: right;
    padding: 20px;
}
#right{
    width: 50%;
    color: white;
    background-color: black;
    float: right;
    padding: 20px;
}

@media screen and (min-width: 700px) {
    header{
        width: 600px;
    }

    nav{
        width: 600px;
    }
}

@media screen and (min-width: 770px) {
    header{
        width: 750px;
    }

    nav{
        width: 750px;
    }
}

@media screen and (min-width: 1000px) {
    header{
        width: 980px;
    }

    nav{
        width: 980px;
    }
}

