.checked{
    background-image: url("/semester1/cssester 1/css/labo6/opdracht6/images/checked.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    padding-left: 30px;

}

.unchecked{
    background-image: url("/semester1/cssester 1/css/labo6/opdracht6/images/unchecked.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    padding-left: 30px;
}

li{
    list-style:none;
    margin-left: 40px;
}